/* import provided css styles */
@import url('template.css');
@import url(fontawesome-all.min.css);

/* import font */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

#hero-background {
  position: absolute;
  height: 500px;
  width: 100%;
  z-index: -1;

  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 85%, #F4F4F4 100%),
    url("/images/vandy-social-picture.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav.links {
  overflow-x: scroll;
}

nav.links>ul {
  min-width: max-content;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  gap: 2rem;
}

#intro .logo {
  margin-bottom: 4rem;
  min-width: 100px;
  max-width: 100px;
  background-position: center;
  background-size: cover;
}

#intro header {
  margin-bottom: 3rem;
  padding: 10px;
  background: #00000060
}

#intro header h2,
#intro header p {
  color: white;
  position: relative;
}

#intro img {
  max-height: 100px;
}

time {
  letter-spacing: 1px !important;
}

section {
  margin-top: 20px;
}

/* Grid Styles */
.grid {
  display: grid;
  gap: 20px;
}

#search-area,
#todays-pick,
.profile-box {
  border: 1px solid rgba(160, 160, 160, 0.3);
  padding: 20px;
}

.post>header .title {
  padding: 20px;
}

.post>header .meta {
  padding: 10px;
  max-width: 180px;
}

.content-inner {
  padding-left: 15px;
  padding-right: 15px;
}

#user-upper-half-content {
  grid-template-columns: 1fr minmax(250px, 300px);
}

#profile-pic-explanation {
  grid-template-columns: auto minmax(250px, auto);
}

#profile-pic {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 500px;
  max-height: 500px;

  justify-self: center;
}

#profile-explanation {
  display: flex;
  flex-direction: column;
}

#pxd-text,
#pxa-text {
  line-height: 100%;
}

#more-people {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.profile-box {
  display: flex;
  gap: 10px;
}


input[type=file]::file-selector-button {
  display: none;
}

#footer {
  margin: 0;
  padding: 30px;
}

@media(max-width: 1200px) {
  #user-upper-half-content {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 700px) {
  #profile-pic-explanation {
    grid-template-columns: 1fr;
  }

  #wrapper {
    padding: 0px;
  }

  .post {
    padding: 0;
    border-left: 0;
    border-right: 0;
  }
}

#search-area {
  min-width: 300px;
}
